
application.properties
mailtemplate.html

application*.properties
mailtemplate*.html
rules.json

.classpath
.project
.factorypath

*.class

*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.DS_Store

target/

.vscode/*
.settings/

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

$RECYCLE.BIN/
